header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}


  body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #29d3bc;
    color: white;
    text-align: center;
    padding: 10px;
  }
  .nav-item-1 {
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
  }
  .nav-item-2 {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
  }